.table-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media screen and (min-width: 1430px) {
    form {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) {
    .table-content {
        grid-template-columns: 1fr;
    }
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid var(--dark-blue);
    padding: 5px 7px;
}

thead {
    background-color: var(--dark-blue);
    color: #f0f0f0;
}

tbody tr:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}